<div>
    <h1>Games</h1>
    <button class="btn btn-primary" ng-click="gamesCtrl.resetGames()">Clear Filter</button> Current Filter: {{gamesCtrl.filter}}
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Platform</th>
            <th>Genre</th>
        </thead>
        <tbody>
            <tr ng-repeat="game in gamesCtrl.games">
                <td ng-hide="game.edit">{{game.name}}</td>
                <td ng-show="game.edit"><input type="text" ng-model="game.name"></td>

                <td ng-hide="game.edit"> <a href="" ng-click="gamesCtrl.filterByPlatform(game.platform)">{{game.platform}}</a> </td>
                <td ng-show="game.edit"><input type="text" ng-model="game.platform"></td>

                <td ng-hide="game.edit"> <a href="" ng-click="gamesCtrl.filterByGenre(game.genre)">{{game.genre}}</a> </td>
                <td ng-show="game.edit"><input type="text" ng-model="game.genre"></td>


                <td ng-hide="game.edit">
                    <button class="btn btn-success" ng-click="gamesCtrl.toggleEdit(game)">Edit</button>
                    <button class="btn btn-danger" ng-click="gamesCtrl.deleteGame(game)">Delete</button>
                </td>
                <td ng-show="game.edit">
                    <button class="btn btn-primary" ng-click="gamesCtrl.saveGame(game)">Save</button>
                    <button class="btn btn-danger" ng-click="gamesCtrl.toggleEdit(game)">Cancel</button>
                </td>
            </tr>
            <tr>
                <td><input type="text" ng-model="gamesCtrl.newGame.name"></td>
                <td><input type="text" ng-model="gamesCtrl.newGame.platform"></td>
                <td><input type="text" ng-model="gamesCtrl.newGame.genre"></td>
                <td>
                    <button class="btn btn-primary" ng-click="gamesCtrl.addGame()">Add New</button>
                </td>
            </tr>
        </tbody>

    </table>
</div>
